
body
{
     /* background:url(D:\finalproject\src\assets\milk.jpg);  */
    
    background-repeat:no-repeat;
    background-size: cover;
    margin-bottom: 1cm;
}

#c1
{
    background:url(D:\fullproject\src\assets\login.jpg);
    height:8cm;
    width:4cm;
    background-repeat:no-repeat;
    background-size: cover;
    /* margin-right:30cm; */
/* margin-left:2cm; */
/* margin-top:0.5cm; */
}

#t
{
    background:url(D:\fullproject\src\assets\milk.jpg);
    margin-left: 1cm;
}

