
#t1
{
    width:18cm;
    background: url(D:\fullproject\src\assets\login.jpg);
    margin-left:1.5cm;
    background-repeat: no-repeat;
}


body{
//     margin-top: 1cm;
//     margin-left:1cm;
//    //background: url(D:\fullproject\src\assets\login.jpg);
//     background-size: cover;
     background-repeat: no-repeat;
//     margin-right:20cm;
//     /* border:none;
//     border-radius:0.5cm; */
 }
