

#t
{
    background:url(D:\fullproject\src\assets\login.jpg);
    margin-left: 1cm;
    margin-top: 1cm;
}

div{
    background-image: url(D:\fullproject\src\assets\ice.jpg);
    background-repeat: no repeat;
    height:12cm;
    width:16cm;
    margin-left:1cm;
    margin-bottom: 0.5cm;
}