
#u
{
    color:purple;
    margin-right: 6cm;
    background: orange;
    border-radius: 4px;
    text-align: center;
    widows: 20px;
}
#pl
{
    text-indent: 0.5cm;
    color:black;
    background: pink;
    background:url(src\assets\straw.jpg);
    border-radius: 8px;
}


#t
{
    background-image:url(D:\fullproject\src\assets\login.jpg);
    color:black;
    
    border:solid brown;
}
.container
{
    margin-left: 1cm;
}