
<br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
<h2 id="u">Amul</h2>
<p id="pl"  title="about Amul">Amul as a brand is synonymous to Dairy products in India. Founded in the year 1946, 
  even before the white revolution took place in India, Amul established itself in various 
  products of dairy. Dairy is an important factor of nutrition in India and plays a major role 
  in every individual’s daily diet in the country. Dairy is consumed in various ways throughout the day. 
  Some of the products that Amul specializes in in the dairy industry are Amul milk, Amul bread spreads, 
  Amul cheese, Amul ice creams, Amul range of beverages such as Amul kool, UHT Milk, Amul paneer, 
  Amul dahi, Amul ghee, Amul milk powder, range of mithais, mithai mate, Amul chocolates, lactose free milk, 
  Amul fresh cream, Amul sour cream, butter milk, Amul butter, Amul dark chocolates, Amul whipping cream, etc. </p>
</div>
<div class="col-lg-4">
  <h2 id="u" >Gokul</h2>
  <p id="pl" title="about Gokul">The Gokul Dudh Sangh Products are extremely popular in the Local & Distant Markets. 
    Branded as Gokul Products, they include Milk, Shrikhand, Ghee, Table Butter, Dahi, Skimmed Milk Powder, 
    Desi Butter ( Desi Loni ) , Lassi, Paneer, Cooking Butter,Full Cream Shrikhand-Mixed Fruit ,
    Table Butter Chiplet,Butter Milk.
    </p>
    </div>
    <div class="col-lg-4">
    <h2 id="u">Chitale</h2>
    <p id="pl" title="about Chitale">
        Established in 1939 , Chitale Dairy has made a name for itself in the list of top suppliers of Dairy 
        Products in India. The supplier company is located in Sangli, Maharashtra and is one of the leading 
        sellers of listed products.
        Chitale Dairy is listed in Trade India's list of verified sellers offering supreme quality of
         Pasteurised Toned Milk ,Pasteurised Full Cream Milk ,Paneer etc. Buy Dairy Products in bulk from us 
         for the best quality products and service.
    </p>
    </div>
    </div>
    </div>

     <!-- <table id="t" border=1 align="center">
  <tr>
    <th>Product name</th>
    <th>Company</th>
    
    <th>Rate</th>
  </tr>
  <tr *ngFor="let a of alldata">
    <td>{{a.prod_name}}</td>
    <td>{{a.company}}</td>
    
    <td>{{a.rate}}</td>
  </tr>
</table> -->
<br>
<br> 

