

#t1
{
    margin-top: 1cm;
    margin-left: 2cm;
    box-align: center;
    text-align: center;
    font-weight: bold;
    background:url(D:\fullproject\src\assets\milk.jpg);
    
}
/* .btn btn-primary
{
    margin-left:2cm;
} */
div{
    margin-left:2cm;
}