
<br>
  
<h1 id="h1" style="color:red" >Welcome to our Dairy-Products</h1><br>

<br>
<div>
<img id="i1" src="assets/ddd.jpg" style="height:9cm;width:30cm;">
</div> <br>

<!-- <div class="container">
<div class="row">
  <div class="col-lg-4">
    <img src="assets/dairy.jpg">
    </div>  -->
     <!-- <div class="col-lg-6">
        <img  src="assets/ddd.jpg">
        </div>  -->
         <!-- <div class="col-lg-6">
            <img  src="assets/ddd.jpg">
            </div>
            </div>
            </div>  -->


<body>


<p style="color:black">
<h3>Introduction</h3>
<p>Children and adolescents should be encouraged to consume milk products because this is the period of their 
lives in which they are building their peak bone mass and developing lifelong habits. 
This article highlights the benefits of milk and milk products, as well as common misconceptions.</p>


<h3>What are dairy products?</h3>
<p>A production plant for processing dairy products is called a dairy or a dairy factory.
Dairy products are generally defined as food products that are produced from milk. 
They are rich sources of energy. Raw milk for processing generally comes from cows, but occasionally from other 
mammals such as goats, sheep, and water buffalo. Water is the main constituent of milk (about 90%).</p>


<h3>Sources of dairy products</h3>
<p>Milk of various types (including whole milk, skim milk, buttermilk), yoghurt, cheese (e.g. Swiss cheese, cheddar 
cheese, cottage cheese), and ice cream are dairy products. Of all milk products, milk, yoghurt and cheese are the 
best sources of calcium.
</p>
</body>


