
 body
 {
     background-image:url(D:\finalproject\src\assets\i1.jpeg);
     height: 100%;
     margin-left: 1cm;
     padding: 0.5cm;
     margin-bottom:1cm;
     margin-right: 1cm;
     border: solid brown;
     border-radius:2.5cm;
 }
 #i1
 {
     margin-left: 3cm;
     border-radius:20px;
 
 }
 p
 {
     font-weight:bold;
 }
 
 #h1
 {
      margin-left:8cm; 
      font-size: 45px;
    text-shadow: 3px 2px purple;
     text-align: center;
     border: solid brown;
     background:orange;
     margin-right:10cm;
     border-radius:10cm;
 }
 h3{
     color:crimson;
 }
 
 